
html {
    /* background-color: #2A363B; */
    background-color: #181818;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    column-gap: 10px;
    row-gap: 15px;
}

@keyframes slide-in {
 from {
      transform: translateY(-150%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
}

.item{
    animation: slide-in 1500ms;
    animation-timing-function: ease-out;
}

.item:hover{
    opacity: 0.5;
}

.medium {
    font-size: 36px;
    color:#FEDD2F;
}

.large {
    font-size: 72px;
    color:#FEDD2F;
}

.title {
    color: white;
    max-width: 190; 
    height: 270;
    font-size: 18px;
}