
html {
    background-color: #2A363B;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    column-gap: 10px;
    row-gap: 15px;
}

.item{
    flex-grow: 1;  
}

.title {
    color: white;
    width: 190; 
    height: 270;
}