<div class="movie">
    <img class="movie_img" src="{{thumbPath}}" alt="movie picture" />
    <div class="movie__informations">
        <div class="movie__header">
            <h2 class="movie__title">{{title}}</h2>
            <p class="movie__year">{{year}}</p>
        </div>
        <div class="movie__details">
            <ul>
                <li>Running Time <span class="movie__running"> {{runningTime}} <span></span> </li>
                <li>Directed by <span class="movie__director">{{director}}</span></li>
                <li><span class="movie__tag">{{tag}}</span></li>
            </ul>
        </div>
    </div>
    </div>