<div id="{{title}}" class="card movie">
<figure class="movie__fig">
    <img class="movie__img" src="{{thumbPath}}" alt="movie picture"/>
        <figcaption>
            <p class="movie__synopsis small">
                {{synopsis}}
            </p>
            <a href="#" class="movie__trailer"> watch trailer </a>
        </figcaption>
    </figure>
    <div class="movie__informations">
        <div class="movie__header">
            <h4 class="movie__title">{{title}}
            <span class="bold text_small">{{year}}</span></h4>
        </div>
        <div class="movie__details text_small">
            <ul>
                <li>Running Time <span class="bold"> {{runningTime}} <span></span> </li>
                <li>Directed by <span class="bold">{{director}}</span></li>
                <li><span class="bold">{{tag}}</span></li>
            </ul>
        </div>
    </div>
    </div>
