@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
:root {
  --color-background: #151515;
  --color-title: #f4533f;
  --color-text: #ebdbc2;
  --font-title: "Barlow", sans-serif;
  --font-text: "poppins", sans-serif;
}

a {
  color: var(--color-text);
}

small,
.text_small {
  font-size: 0.8rem;
}

.bold {
  font-weight: 500;
}

body {
  font-family: var(--font-text);
  background-color: var(--color-background);
  color: var(--color-text);
  font-smooth: always;
}

main {
  height: 100vh;
  display: grid;
  grid-auto-rows: 60%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.container {
  width: 98%;
  margin: 0 auto;
}

.card {
  position: relative;
  scroll-snap-align: center;
}

.header,
.footer {
  display: flex;
  align-items: center;
}

.hero,
.footer {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  padding-left: 10px;
}

.footer {
  align-items: end;
}

.header .link {
  position: absolute;
  bottom: 10%;
  right: 2%;
  width: 3.75rem;
  height: 3.75rem;
  padding-top: 0.8rem;
  font-size: 1.2rem;
  text-align: center;
}

.about_link {
  border: 2px solid var(--color-text);
  color: var(--color-title);
}

.hero_link {
  border: 2px solid var(--color-title);
  color: var(--color-text);
}

.hero.hide_card,
.about.hide_card {
  display: none;
}

.main_letter {
  color: var(--color-title);
  font-size: 9rem;
  font-family: var(--font-title);
  font-weight: 700;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  line-height: 0.8;
}

.sub_letter {
  color: var(--color-title);
  font-family: var(--font-title);
  font-size: 3rem;
  font-weight: 600;
}

.movie {
  overflow: hidden;
}

.movie__fig {
  position: relative;
  height: 100%;
}

.movie__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie__informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 0 0.8rem;
  gap: 0.3rem;
  bottom: 5%;
  z-index: 1000;
  width: 100%;
}

.movie__details_panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.movie__details {
  line-height: .9rem;
  font-family: var(--font-text);
}

.movie__title {
  font-family: var(--font-title);
  text-transform: uppercase;
  line-height: 1;
  color: var(--color-title);
}

.movie__title > span {
  color: var(--color-text);
}

.movie__more-info {
  font-size: 1.2rem;
  writing-mode: vertical-lr;
}

.movie::after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 40%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

.movie.expanded::after {
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.9s;
}

.movie__caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  z-index: 1000;
}

.movie.expanded .movie__caption {
  top: 30%;
  transform: translateY(-50%);
  animation: fadeIn 0.9s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.movie__synopsis {
  text-align: center;
  padding: 0 1rem;
  font-size: 0.8rem;
}

.movie__trailer {
  width: 40%;
  padding: 0.4rem 0;
  color: var(--color-text);
  border: 2px solid var(--color-title);
  text-transform: uppercase;
  font-family: var(--font-title);
  font-weight: 500;
  transform: skewY(-6deg);
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 480px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
    grid-auto-rows: 48%;
    gap: 0.4rem;
  }

  .main_letter {
    font-size: 8rem;
  }

  .sub_letter {
    font-size: 4rem;
  }

  .movie__title {
    font-size: 1.25rem;
  }

  .header .link {
    bottom: 2px;
    right: 0;
    width: 3rem;
    height: 3rem;
    font-size: 0.9rem;
  }

  .movie:hover::after {
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.9s;
  }

  .movie:hover .movie__caption{
    top: 30%;
    transform: translateY(-50%);
    animation: fadeIn 0.9s;
  }

  .movie__trailer {
    width: 50%;
    font-size: 0.8rem;
  }

  .movie__synopsis {
    text-align: center;
    padding: 0 1rem;
    font-size: 0.8rem;
  }

  .movie__more-info {
    display: none;
  }
}
