@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root {
  --color-background: #151515;
  --color-title: #f4533f;
  --color-text: #ebdbc2;
  --font-title: "Barlow", sans-serif;
  --font-text: "poppins", sans-serif;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}

.bold {
  font-weight: 500;
}

body {
  font-family: var(--font-text);
  background-color: var(--color-background);
  color: var(--color-text);
  font-smooth: always;
}

main {
  height: 100vh;
  display: grid;
  grid-auto-rows: 48%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.container {
  width: 98%;
  margin: 0 auto;
}

.card {
  position: relative;
  scroll-snap-align: center;
}

.header, .footer {
  display: flex;
  align-items: center;
  padding-left: 2% ; 
}

.header > .hero,
.footer {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.header .link {
  position: absolute;
  bottom: 10%;
  right: 2%;
  width: 3.75rem;
  height: 3.75rem;
  padding: 0.6rem;
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
}

.header .about_link {
  border: 2px solid var(--color-text);
  color: var(--color-title);
}

.header .hero_link {
  border: 2px solid #f4533f;
  color: #ebdbc2;
}

.hero.hide_card,
.about.hide_card {
  display: none;
}

.main_letter {
  color: var(--color-title);
  font-size: 5rem;
  font-family: var(--font-title);
  font-weight: 700;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  line-height: 0.8;
}

.sub_letter {
  color: var(--color-title);
  font-family: var(--font-title);
  font-size: 3rem;
  font-weight: 600;
}

.movie > .movie__fig {
  position: relative;
  overflow: hidden;
}

.movie .movie__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie .movie__informations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  padding: 0 0.8rem;
  gap: 0.3rem;
  bottom: 5%;
  z-index: 9999;
}

.movie .movie__details {
  line-height: 1rem;
  font-family: var(--font-text);
}

.movie__title {
  font-family: var(--font-title);
  text-transform: uppercase;
  color: var(--color-title);
}

.movie__title > span {
  color: var(--color-text);
}

.movie::after {
  position: absolute;
  display: block;
  bottom: 0;
  content: "";
  width: 100%;
  height: 80%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

figcaption {
  display: none;
}

/* Phone-landscape */
@media(min-height: 480px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
    gap: 0.4rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}




  /* figure:hover figcaption, */
  /* figure:hover figcaption { */
  /*   transform: unset; */
  /* } */

  /* .active > figure > figcaption { */
  /*   transform: translateY(-320px); */
  /* } */

  /* .movie__trailer { */
  /*   display: inline-block; */
  /*   color: #ebdbc2; */
  /*   border: 1px solid #ebdbc2; */
  /*   text-transform: capitalize; */
  /*   font-size: 0.8rem; */
  /*   text-decoration: none; */
  /*   border-radius: 3px; */
  /* } */

  /* .movie__synopsis { */
  /*   padding: 0 20px; */
  /* } */

  /* figcaption { */
  /*   bottom: -190px; */
  /*   position: absolute; */
  /*   z-index: 1000; */
  /*   transition: all 0.5s; */
  /*   text-align: center; */
  /* } */

  /* .movie__trailer { */
  /*   margin-top: 10px; */
  /*   padding: 3px 10px; */
  /* } */

  /* figure:hover figcaption, */
  /* figure:hover figcaption { */
  /*   transform: translateY(-220px); */
  /* } */

  /* figure:hover::after { */
  /*   transform: translateY(-190px); */
  /* } */

  /* figure::after { */
  /*   display: block; */
  /*   position: absolute; */
  /*   bottom: -190px; */
  /*   content: ""; */
  /*   width: 100%; */
  /*   height: 80%; */
  /*   background: linear-gradient( */
  /*     0deg, */
  /*     rgba(0, 0, 0, 0.8) 40%, */
  /*     rgba(0, 0, 0, 0.6) 70%, */
  /*     rgba(255, 255, 255, 0) 100% */
  /*   ); */
  /*   transition: all 0.5s; */
  /* } */
  /* figcaption { */
  /*   display: none; */
  /* } */
}
